.nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #c51d4a;
    z-index: 10;

    &__link {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: lightgray;
        align-items: center;
        padding: 10px;
        gap: 8px;

        &--active {
            border-bottom: 3px solid lightgray;
        }

        &__lockIcon--hidden {
            display: none;
        }

        &__label {
            font-size: 12px;
        }
    }

    @media (min-width: 600px) {
        display: none;
    }
}
