<nav class="nav">
    <a routerLink="/alarm" class="nav__link">
        <fa-icon class="nav__link__icon" [icon]="faAlarmClock" size="2x" />
        <span class="nav__link__label">Alarms</span>
    </a>
    <a routerLink="/greetings" class="nav__link">
        <fa-icon class="nav__link__icon" [icon]="faPaperPlane" size="2x" />
        <span class="nav__link__label">Greetings</span>
    </a>
    <a routerLink="/video" class="nav__link">
        <fa-icon class="nav__link__icon" [icon]="faUserSecret" size="2x" />
        <span class="nav__link__label">SPY</span>
    </a>
    <a routerLink="/" class="nav__link">
        <fa-icon class="nav__link__icon" [icon]="faCircleInfo" size="2x" />
        <span class="nav__link__label">About me</span>
    </a>
    <a routerLink="/" class="nav__link">
        <fa-icon class="nav__link__icon" [icon]="faUser" size="2x" />
        <span class="nav__link__label">admin</span>
    </a>
</nav>
